USE [master]
GO
/****** Object:  Database [ShopManagement]    Script Date: 11/19/2017 10:44:22 AM ******/
CREATE DATABASE [ShopManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopManagement', FILENAME = N'D:\Softwares\SQLServer\MSSQL12.NGUYENSQL\MSSQL\DATA\ShopManagement.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShopManagement_log', FILENAME = N'D:\Softwares\SQLServer\MSSQL12.NGUYENSQL\MSSQL\DATA\ShopManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopManagement]
GO
/****** Object:  Table [dbo].[CHITIETCONGNONHACUNGCAP]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETCONGNONHACUNGCAP](
	[MACONGNONHACUNGCAP] [nvarchar](50) NOT NULL,
	[MAPHIEUNHAP] [nvarchar](50) NOT NULL,
	[GHICHU] [nvarchar](200) NULL,
	[ISDELETE] [int] NULL,
 CONSTRAINT [PK_CHITIETCONGNONHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MACONGNONHACUNGCAP] ASC,
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHANGHOA] [nvarchar](50) NOT NULL,
	[MAHOADONBANHANG] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[GIAGIAM] [money] NULL,
	[ISDELETE] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHANGHOA] ASC,
	[MAHOADONBANHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETLAMVIEC]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETLAMVIEC](
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[THANG] [int] NOT NULL,
	[SONGAYLAM] [int] NULL,
	[SONGAYNGHI] [int] NULL,
	[LUONGNGAY] [money] NULL,
	[LUONGCOBAN] [money] NULL,
	[TIENTHUONG] [money] NULL,
	[GHICHU] [nvarchar](200) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAPHANG]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAPHANG](
	[MAHANGHOA] [nvarchar](50) NOT NULL,
	[MAPHIEUNHAP] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[GIAGIAM] [money] NULL,
	[ISDELETE] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MAHANGHOA] ASC,
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUTRAHANGBAN]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUTRAHANGBAN](
	[MAPHIEUTRAHANGBAN] [nvarchar](50) NOT NULL,
	[MAHANGHOA] [nvarchar](50) NOT NULL,
	[GIABAN] [money] NULL,
	[GIANHAPLAI] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUTRAHANGNHAP]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUTRAHANGNHAP](
	[MAPHIEUTRAHANGNHAP] [nvarchar](50) NOT NULL,
	[MAHANGHOA] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[GIANHAPLAI] [money] NULL,
	[ISDELETE] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONGNOKHACHHANG]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGNOKHACHHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACONGNOKHACHHANG] [nvarchar](50) NOT NULL,
	[MAKHACHHANG] [nvarchar](50) NOT NULL,
	[TONGNO] [money] NULL,
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK_CONGNOKHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MACONGNOKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONGNONHACUNGCAP]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGNONHACUNGCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACONGNONHACUNGCAP] [nvarchar](50) NOT NULL,
	[MANHACUNGCAP] [nvarchar](50) NOT NULL,
	[TONGNO] [money] NULL,
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK_CONGNONHACUNGCAP] PRIMARY KEY NONCLUSTERED 
(
	[MACONGNONHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHANGHOA] [nvarchar](50) NOT NULL,
	[TENHANGHOA] [nvarchar](50) NULL,
	[GIABAN] [money] NULL,
	[GIAVON] [money] NULL,
	[TONKHO] [int] NULL,
	[ISDELETE] [int] NULL,
	[URL_IMAGE] [nvarchar](200) NULL,
	[GHICHU] [nvarchar](200) NULL,
	[ID_LOAIHANGHOA] [int] NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY NONCLUSTERED 
(
	[MAHANGHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONBANHANG]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBANHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHOADONBANHANG] [nvarchar](50) NOT NULL,
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[CANTHANHTOAN] [money] NULL,
	[DATRA] [money] NULL,
	[THOIGIAN] [datetime] NULL,
	[GHICHU] [nvarchar](200) NULL,
	[ISDELETE] [int] NULL,
 CONSTRAINT [PK_HOADONBANHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAHOADONBANHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHHANG] [nvarchar](50) NOT NULL,
	[TENKHACHHANG] [nvarchar](200) NULL,
	[SODIENTHOAI] [nvarchar](50) NULL,
	[SOTAIKHOAN] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[GIOITINH] [int] NULL,
	[CMND] [nvarchar](50) NULL,
	[NGAYDANGKY] [datetime] NULL,
	[GHICHU] [nvarchar](200) NULL,
	[ISDELETE] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIHANGHOA]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANGHOA](
	[ID] [int] NOT NULL,
	[LOAIHANGHOA] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIHANGHOA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAINHACUNGCAP]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINHACUNGCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAINHACUNGCAP] [nvarchar](200) NULL,
	[ISDELETE] [int] NULL,
 CONSTRAINT [PK_LOAINHACUNGCAP] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANHACUNGCAP] [nvarchar](50) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SODIENTHOAI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](200) NULL,
	[SOTAIKHOAN] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](200) NULL,
	[ISDELETE] [int] NULL,
	[ID_LOAINCC] [int] NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[HOTEN] [nvarchar](200) NULL,
	[GIOITINH] [int] NULL,
	[NGAYSINH] [datetime] NULL,
	[CMND] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[QUEQUAN] [nvarchar](200) NULL,
	[SOTAIKHOAN] [nvarchar](50) NULL,
	[SODIENTHOAI] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](200) NULL,
	[NGAYVAOLAM] [datetime] NULL,
	[ISDELETE] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUNHAP] [nvarchar](50) NOT NULL,
	[TONGTIENCANTRA] [money] NULL,
	[DATRA] [money] NULL,
	[THOIGIAN] [datetime] NULL,
	[GHICHU] [nvarchar](200) NULL,
	[ISDELETE] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAPHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTRAHANGBAN]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRAHANGBAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUTRAHANG] [nvarchar](50) NOT NULL,
	[MAHOADONBANHANG] [nvarchar](50) NOT NULL,
	[TONGTIENCANTRA] [money] NULL,
	[DATRA] [money] NULL,
	[THOIGIAN] [datetime] NULL,
	[GHICHU] [nvarchar](200) NULL,
	[ISDELETE] [int] NULL,
 CONSTRAINT [PK_PHIEUTRAHANGBAN] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUTRAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTRAHANGNHAP]    Script Date: 11/19/2017 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRAHANGNHAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUTRAHANGNHAP] [nvarchar](50) NOT NULL,
	[MAPHIEUNHAP] [nvarchar](50) NOT NULL,
	[TONGTIENCANDUOCTRA] [money] NULL,
	[TIENDATRA] [money] NULL,
	[THOIGIAN] [datetime] NULL,
	[GHICHU] [nvarchar](200) NULL,
	[ISDELETE] [int] NULL,
 CONSTRAINT [PK_PHIEUTRAHANGNHAP] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUTRAHANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETCONGNONHACUNGCAP_FK]    Script Date: 11/19/2017 10:44:22 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETCONGNONHACUNGCAP_FK] ON [dbo].[CHITIETCONGNONHACUNGCAP]
(
	[MACONGNONHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETCONGNONHACUNGCAP2_FK]    Script Date: 11/19/2017 10:44:22 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETCONGNONHACUNGCAP2_FK] ON [dbo].[CHITIETCONGNONHACUNGCAP]
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETHOADON_FK]    Script Date: 11/19/2017 10:44:22 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETHOADON_FK] ON [dbo].[CHITIETHOADON]
(
	[MAHANGHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETHOADON2_FK]    Script Date: 11/19/2017 10:44:22 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETHOADON2_FK] ON [dbo].[CHITIETHOADON]
(
	[MAHOADONBANHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETPHIEUNHAPHANG_FK]    Script Date: 11/19/2017 10:44:22 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETPHIEUNHAPHANG_FK] ON [dbo].[CHITIETPHIEUNHAPHANG]
(
	[MAHANGHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETPHIEUNHAPHANG2_FK]    Script Date: 11/19/2017 10:44:22 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETPHIEUNHAPHANG2_FK] ON [dbo].[CHITIETPHIEUNHAPHANG]
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETCONGNONHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETCONGNONHACUNGCAP_CHITIETCONGNONHACUNGCAP] FOREIGN KEY([MACONGNONHACUNGCAP], [MAPHIEUNHAP])
REFERENCES [dbo].[CHITIETCONGNONHACUNGCAP] ([MACONGNONHACUNGCAP], [MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETCONGNONHACUNGCAP] CHECK CONSTRAINT [FK_CHITIETCONGNONHACUNGCAP_CHITIETCONGNONHACUNGCAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPHANG_CHITIETPHIEUNHAPHANG] FOREIGN KEY([MAHANGHOA], [MAPHIEUNHAP])
REFERENCES [dbo].[CHITIETPHIEUNHAPHANG] ([MAHANGHOA], [MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPHANG_CHITIETPHIEUNHAPHANG]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_HANGHOA] FOREIGN KEY([MAHANGHOA])
REFERENCES [dbo].[HANGHOA] ([MAHANGHOA])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_HANGHOA]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_LOAIHANGHOA] FOREIGN KEY([ID_LOAIHANGHOA])
REFERENCES [dbo].[LOAIHANGHOA] ([ID])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_LOAIHANGHOA]
GO
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_NHACUNGCAP_LOAINHACUNGCAP] FOREIGN KEY([ID_LOAINCC])
REFERENCES [dbo].[LOAINHACUNGCAP] ([ID])
GO
ALTER TABLE [dbo].[NHACUNGCAP] CHECK CONSTRAINT [FK_NHACUNGCAP_LOAINHACUNGCAP]
GO
USE [master]
GO
